<section class="cont" id="portfolio">
    <div class="portfolio">
      <div class="header">
          <div class="info">
            <h3>Proyectos recientes</h3>
            <h4>Apps / Webs</h4>
          </div>
          <a href="https://www.instagram.com/lacelabs01/" target="_blank" ><i class='bx bxl-instagram'></i>Visita nuestro Instagram</a>
      </div>

      <div class="portfo-items">

        <div class="item">

          <!-- <video src="../../../assets/video/fix.mp4" autoplay muted loop ></video> -->
          <img src="../../../assets/img/proyects/webs/kankyStore.png" alt="">

          <div class="info">
            <h4>Kanky Store</h4>

            <p>
              En Kanky Store vas a encontrar un catálogo de ropa, con informacion y precio del producto, tambien cuenta con filtros, buscador y un redireccionamiento a WhatsApp con el nombre del producto que le interese al usuario.
            </p>

            <a href="https://kanky-store.vercel.app" target="_blank">Ver en la web <i class='bx bx-link-external'></i></a>
          </div>
        </div>


        <div class="item">

          <!-- <video src="../../../assets/video/peluDelLauti.mp4" autoplay muted loop ></video> -->
          <img src="../../../assets/img/proyects/webs/peluDelLauti.png" alt="">

          <div class="info">
            <h4>Del Lauti</h4>

            <p>
              Del Lauti es una página web que presenta toda la información sobre el peluquero y supeluquería, con un turnero online agregado que permite a los clientes reservar sus turnos de forma rápida y sencilla para sus servicios.
            </p>

            <a href="https://dellauti-5413f.web.app/home" target="_blank" >Ver en la web <i class='bx bx-link-external'></i></a>
          </div>
        </div>
        <div class="item">

          <!-- <video src="../../../assets/video/fix.mp4" autoplay muted loop ></video> -->
          <img src="../../../assets/img/proyects/webs/fix.png" alt="">

          <div class="info">
            <h4>Fix</h4>

            <p>
              Fix es una aplicación multiplataforma diseñada para ofrecer información de manera rápida y accesible sobre temas de interés como salud, alimentos, compras, y más. Con un enfoque en simplificar el acceso a datos útiles, actualmente opera en la zona de Venado Tuerto.
            </p>

            <a href="https://fixvt.app/home" target="_blank" >Ver en la web <i class='bx bx-link-external'></i></a>
          </div>
        </div>

        <!-- <div class="item">

          <video src="" autoplay muted loop ></video>

          <div class="info">
            <h4>En Proceso</h4>

            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, modi! Numquam sit dicta voluptate in quis laboriosam animi, eos exercitationem corporis reprehenderit at aliquam ut necessitatibus voluptas modi minima, veritatis ullam.
            </p>

            <a href="#">Ver en la web <i class='bx bx-link-external'></i></a>
          </div>
        </div> -->
      </div>

      <div class="separator"></div>

      <div class="header">
        <div class="info">
          <h4>Figma</h4>
        </div>
      </div>

      <div class="portfo-items">
        <div class="items">
          <!-- <video src="" autoplay muted loop ></video>
          <div class="info">
            <h4>En Proceso</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, modi! Numquam sit dicta voluptate in quis laboriosam animi, eos exercitationem corporis reprehenderit at aliquam ut necessitatibus voluptas modi minima, veritatis ullam sapiente omnis earum mollitia neque soluta repellendus magni.
            </p>
            <a>Ver<i class='bx bx-link-external'></i></a>
          </div> -->
        </div>
        <div class="item">
          <!-- <video src="" autoplay muted loop ></video> -->
          <img src="../../../assets/img/proyects/figma/travelWebsite.png" alt="">
          <div class="info">
            <h4>Sitio Web de Viajes</h4>
            <p>
              Diseño web. Podemos programar su página web con el diseño que desee.
            </p>
            <a href="https://www.instagram.com/reel/DG0t43PMrJw/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">Ver<i
                class='bx bx-link-external'></i></a>
          </div>
        </div>
        <div class="items">
          <!-- <video src="" autoplay muted loop ></video>
                  <div class="info">
                    <h4>En Proceso</h4>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, modi! Numquam sit dicta voluptate in quis laboriosam animi, eos exercitationem corporis reprehenderit at aliquam ut necessitatibus voluptas modi minima, veritatis ullam sapiente omnis earum mollitia neque soluta repellendus magni.
                    </p>
                    <a>Ver<i class='bx bx-link-external'></i></a>
                  </div> -->
        </div>
      </div>

    </div>
</section>
