<section class="cont" >
  <h5 class="seprator">Habilidades</h5>

  <div class="skills">
    <div class="left">
      <div class="info">
        <h3>¿Cuáles son nuestras habilidades?</h3>
        <p><span>Técnicas: </span>Angular, Firebase, Ionic, TypeScript, Figma, SCSS, HTML5, Desarrollo Móvil Híbrido.
        </p>
        <p><span>Metodologías: </span>Scrum, Git, CI/CD, Diseño Responsivo.</p>
        <p><span>Blandas: </span>Comunicación cliente-desarrollador, Solución creativa de problemas.</p>
      </div>
    </div>

    <div class="right">
      <div class="item"><i class='bx bxl-html5'></i></div>
      <div class="item"><i class='bx bxl-css3'></i></div>
      <div class="item"><i class='bx bxl-typescript'></i></div>
      <div class="item"><i class='bx bxl-git'></i></div>
      <div class="item"><i class='bx bxl-figma'></i></div>
      <div class="item"><i class='bx bxl-sass'></i></div>
      <div class="item"><i class='bx bxl-angular'></i></div>
      <div class="item"><i class='bx bxl-firebase'></i></div>
    </div>
  </div>
</section>
